/* Start section */
.startSection {
   width: 100%;
   height: 100vh;
   background-color: var(--primary-color);
   z-index: 0;
}

.titleContainer {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   top: 20%;
}

.titleContainer {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   top: 20%;
}

.titleContainer > h1 {
   font-weight: bold;
   font-style: normal;
   width: 80vw;
   overflow-wrap: break-word;
   margin: 0rem;
}

.titleContainer h2 {
   display: inline-block;
   margin-right: 0.3rem;
   font-weight: 200;
}

.scrollBtnContainer {
   position: absolute;
   display: flex;
   align-items: center;
   flex-direction: column;
   left: 50%;
   bottom: 15%;
   transform: translateX(-50%);
   pointer-events: none;
}

.scrollBtnContainer p {
   font-size: 2rem;
   font-weight: normal;
   margin-bottom: 1rem;
   color: var(--secondary-color);
}

.circleContainer {
   position: absolute;
   justify-content: center;
   display: flex;
   height: 100vh;
   width: 100vw;
   top: 50%;
   pointer-events: none;
}

/* Project Selector */
.projectSelectorSection {
   width: 100%;
   height: 100vh;
   background-color: var(--secondary-color);
}

.header {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   z-index: 6;
   margin-bottom: 12rem;
}

.header > .arrowWrap {
   display: flex;
   align-items: center;
}

.arrow {
   position: absolute;
   transform: translate(-100%, 20%) rotate(20deg); /* Correct usage of 20deg */
}

.arrow > img {
   position: relative;
   width: 15rem;
   height: 15rem;
}
.arrow > p {
   position: relative;
   font-family: "PermanentMarker";
   font-size: 1rem;
   transform: rotate(-40deg);
   color: var(--highlight-color);
   left: 6rem;
   bottom: 3rem;
}
.arrowWrap > h2 {
   color: var(--primary-color);
   font-size: 4rem;
   font-weight: 800;
}
.projectSelector {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* About me section */

.aboutMeSection {
   margin: 0;
   background-color: var(--primary-color);
   min-height: 100vh;
   height: 100%;
   padding: 10rem 5rem 2rem 5rem;
}

.aboutMeSection {
   h2 {
      font-weight: 800;
      font-size: 4rem;
   }

   h3 {
      font-size: 4rem;
   }

   h4 {
      font-size: 2rem;
   }
}

@media (max-width: 768px) {
   .contentContainer {
      flex-direction: column;
      align-items: center;
   }

   .contentContainer .infoContainer {
      width: 100%;
   }

   .header > .arrowWrap > .arrow {
      display: none;
   }

   .arrowWrap > h2 {
      font-size: 3rem æ;
   }
}

.contentContainer {
   display: flex;
   height: 100%;
   margin-bottom: 8rem;
}

.infoContainer {
   width: 50%;
   height: 100%;
}

.nameContainer {
   * {
      margin: 1rem 0rem;
   }
}
.nameContainer h2:nth-child(2) {
   color: var(--highlight-color);
   font-weight: 400;
}

.studyContainer {
   margin: 3rem 0rem;
   * {
      margin: 1rem 0rem;
   }
}

.studyContainer {
   h3 {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 0;
   }

   h4 {
      font-size: 1.8rem;
      margin-bottom: 0;
   }

   p {
      font-size: 1.2rem;
      color: var(--secondary-color);
   }

   div {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 0;
   }
}

.aboutText {
   color: var(--secondary-color);
   font-size: 1.5rem;
}

.profileImgContainer {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   justify-content: center;
}

.profileImgContainer img {
   width: 50%;
}
.skillsBtnContainer {
   margin: 0;
   margin-top: 5rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   pointer-events: none;
   width: 100%;

   p {
      color: var(--secondary-color);
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
   }
}

.skillContainer {
   margin: 10rem auto;
   display: flex;
   flex-direction: row;
   gap: 5rem;
   flex-wrap: wrap;
   width: 80%;
   justify-content: center;
}

.contactSection {
   margin: 0;
   background-color: var(--secondary-color);
   height: 100%;
   padding: 10rem 5rem 2rem 5rem;
}
