@font-face {
   font-family: "PP Telegraf";
   src: url("../public/fonts/PPTelegraf/PPTelegraf-Regular.otf")
      format("opentype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "PP Telegraf";
   src: url("../public/fonts/PPTelegraf/PPTelegraf-UltraBold.otf")
      format("opentype");
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: "PP Telegraf";
   src: url("../public/fonts/PPTelegraf/PPTelegraf-UltraLight.otf")
      format("opentype");
   font-weight: 200;
   font-style: normal;
}

* {
   font-family: "PP Telegraf", sans-serif;
   font-weight: 400;
   color: #252423;
   font-size: 10px;
}

:root {
   --primary-color: #f8f1de;
   --secondary-color: #252423;
   --highligt-color: #ff6331;
}

h2 {
   font-size: 5rem;
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
   * {
      font-size: 12px;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
   * {
      font-size: 12px;
   }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1300px) {
   * {
      font-size: 16px;
   }
}
