.standardButton {
   height: 3rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border: none;
   text-align: center;
   border-radius: 2cap;
   transition: transform 0.3s;
}

.standardButton:hover {
   transform: scale(1.1);
}

.circleButton {
   height: 3rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border: none;
   border-radius: 50%;
   background-position: center;
   background-repeat: no-repeat;
   aspect-ratio: 1 / 1;
   transition: transform 0.3s;
   position: relative; /* Add this line */
}

.circleButton:hover {
   transform: scale(1.2);
}
.menuButton {
   cursor: pointer;
   text-align: center;
}

.menuButton > a {
   position: relative;
   display: inline-block;
   margin: 0;
}

.menuButton > a::after {
   content: "";
   position: absolute;
   left: -10%;
   right: -10%;
   bottom: -0.2rem;
   width: 0;
   height: 0.15rem;
   background-color: currentColor;
   transition: width 0.3s ease;
}

.menuButton:hover > a::after {
   width: 120%;
}
