.cardWrapper {
   position: absolute;
}

.cardSliderContainer {
   display: flex;
   width: 100vw;
   justify-content: center;
}

.leftArrow {
   position: absolute;
   left: 30%;
   margin-top: 5rem;
   transform: rotateY(180deg);
}

.rightArrow {
   position: absolute;
   right: 30%;
   margin-top: 5rem;
}
