.cardWrapper {
   position: absolute;
}

.cardSliderContainer {
   display: flex;
   width: 100vw;
   justify-content: center;
}

.leftArrow,
.rightArrow {
   position: absolute;
   top: 7rem;
}

.leftArrow {
   left: 25%;
   transform: translate(-50%, -50%) rotateY(180deg); /* Combine transforms */
}

.rightArrow {
   right: 25%;
   transform: translate(50%, -50%); /* Combine transforms */
}
