.cardWrapper {
   position: absolute;
}

.cardSliderContainer {
   display: flex;
   width: 100vw;
   justify-content: center;
}

.leftArrow,
.rightArrow {
   position: absolute;
   top: 50%;
   /* Remove the transform property here */
}

.leftArrow {
   left: 20%;
   transform: translateY(450%) rotateY(180deg); /* Combine transforms */
}

.rightArrow {
   right: 20%;
   transform: translateY(450%); /* Apply the same translateY */
}
