.cardWrapper {
   position: absolute;
}

.cardSliderContainer {
   display: flex;
   width: 100vw;
   justify-content: center;
}

.leftArrow {
   position: absolute;
   left: 20%;

   transform: rotateY(180deg);
}

.rightArrow {
   position: absolute;
   right: 20%;
}
