.filledButton {
   height: 3rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border-radius: 2cap;
   border: none;
   transition: 0.3s;
}

.filledButton:hover {
   transform: scale(1.1);
}

.circleButton {
   height: 3rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border-radius: 50%;
   background-position: center;
   background-repeat: no-repeat;
   aspect-ratio: 1/1;
   border: none;
   transition: 0.3s;
}

.circleButton:hover {
   transform: scale(1.2);
}

.outlineButton {
   background: none;
   border-radius: 1cap;
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   font-weight: normal;
   border: 0.1em solid;
}
