.menuPopUp {
   position: fixed;
   margin: 0;
   position: fixed;
   height: 100vh;
   width: 100vw;
   backdrop-filter: blur(5px);
   z-index: 10;
   transition: 0.2s;
}

.menuPopUp.show {
   opacity: 100%;
   pointer-events: all;
}

.menuPopUp.hide {
   opacity: 0%;
   pointer-events: none;
}

.menuPopUpDisabled {
   opacity: 0;
   pointer-events: none;
}
.navbar {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: auto;
   width: 14rem;

   top: 2rem;
   margin: 0 2rem auto auto;
}
